<div id="<%= dom_id dbdemo %>">
  <p>
    <strong>First name:</strong>
    <%= dbdemo.first_name %>
  </p>

  <p>
    <strong>Last name:</strong>
    <%= dbdemo.last_name %>
  </p>

  <p>
    <strong>Phone:</strong>
    <%= dbdemo.phone %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= dbdemo.email %>
  </p>

</div>
