<div id="<%= dom_id qlmuonsach %>">
  <p>
    <strong>Stt:</strong>
    <%= qlmuonsach.stt %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= qlmuonsach.name %>
  </p>

  <p>
    <strong>Lop:</strong>
    <%= qlmuonsach.lop %>
  </p>

  <p>
    <strong>Masach:</strong>
    <%= qlmuonsach.masach %>
  </p>

  <p>
    <strong>Tensach:</strong>
    <%= qlmuonsach.tensach %>
  </p>

  <p>
    <strong>Tentg:</strong>
    <%= qlmuonsach.tenTG %>
  </p>

  <p>
    <strong>Ngaymuon:</strong>
    <%= qlmuonsach.ngaymuon %>
  </p>

  <p>
    <strong>Ngaytra:</strong>
    <%= qlmuonsach.ngaytra %>
  </p>

</div>
